/*!
 *
 * bo - variables
 * 
 *
 */


// Tipografía

@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

@font-serif: 		"Merriweather", serif;
@font-sans: 		"Open Sans", sans-serif;


// Colores
@negro: 			#222D28;
@blanco: 			#FEFEFC;
@rojo: 				#E4413E;
@gris: 				#BFC1BD;
@gris-claro: 		#DDE0DB;
@gris-oscuro: 		#737269;
@ahuesado: 			#F0EEE1;

// Espacios

@padding: 			2ex 2em;


// Medidas de Pantalla

@mobil: 			320px;	
@mobil-apaizado: 	568px;
@tablet: 			768px;
@tablet-apaizada: 	1024px;
@escritorio: 		1280px;
@escritorio-xl: 	1520px;